.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 300px;
    background-color: var(--primary);
    z-index: 100;
}

.header__title-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__logo {
    height: 42px;
}

.header__title {
    font-size: 16px;
    color: var(--secondary);
}

.phone-link {
    padding: 10px 0;
    text-decoration: none;
    color: var(--secondary);
}

.phone-link:visited {
    color: var(--secondary);
}

.phone-link h2 {
    font-size: 20px;
}

@media screen and (max-width: 1400px){
    .header {
        padding: 0 200px;
    }
}

@media screen and (max-width: 1200px){
    .header {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1000px){
    .header {
        padding: 0 20px;
    }
}

@media screen and (max-width: 850px){
    .header {
        padding: 0 10px;
        height: 80px;
    }

    .navbar {
        display: none;
    }

    .phone-link h2 {
        font-size: 18px;
    }
}